
#introPage {
    display: block;
}

#question1 {
    display: none;
}

#question2 {
    display: none;
}

#question3 {
    display: none;
}

#question4 {
    display: none;
}

#question5 {
    display: none;
}

#question6 {
    display: none;
}

#question7 {
    display: none;
}

#question8 {
    display: none;
}

#question9 {
    display: none;
}

#question10 {
    display: none;
}

#finished {
    display: none;
}

.heading1 {
  position:fixed;
  top: 5px;
  left: 10px;
}

.heading2 {
    position: fixed;
    top: 5px;
    right: 10px;
}

header {
    margin: 20px;
    padding-bottom: 25px;
}

.quizBody {
    display: flex;
    justify-content: center;
}

#Highscores {
    display: none;
}